.perfil {
    display: flex;
    padding: 2rem 1rem;
    align-items: center;
}

.perfil__textos {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
}


.perfil__titulo {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--cor-grafite);
}

.perfil__subtitulo {
    font-weight: 400;
    font-size: 0.88rem;
    color: var(--cor-prata-fosca);
}

@media screen and (min-width: 1440px) {

    .perfil__foto {
        width: 6vw;
    }

    .perfil__titulo {
        font-size: 1.94rem;
    }

    .perfil__subtitulo {
        font-size: 1.13rem;
    }
}